USE [master]
GO
/****** Object:  Database [Finance_Organisation]    Script Date: 06-07-2025 13:58:18 ******/
CREATE DATABASE [Finance_Organisation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Finance_Organisation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\Finance_Organisation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Finance_Organisation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\Finance_Organisation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Finance_Organisation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Finance_Organisation]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 06-07-2025 13:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[cust_id] [char](11) NOT NULL,
	[cust_savingacntnumber] [char](11) NOT NULL,
	[cust_phno] [char](7) NOT NULL,
	[cust_address] [varchar](150) NULL,
	[cust_emailid] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[cust_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERVISIT]    Script Date: 06-07-2025 13:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERVISIT](
	[br_code] [char](8) NOT NULL,
	[cust_id] [char](11) NOT NULL,
	[cust_feedback] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[br_code] ASC,
	[cust_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 06-07-2025 13:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[emp_id] [char](5) NOT NULL,
	[emp_firstname] [varchar](50) NOT NULL,
	[emp_lastname] [varchar](50) NOT NULL,
	[emp_designation] [varchar](20) NOT NULL,
	[br_code] [char](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAN]    Script Date: 06-07-2025 13:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAN](
	[loan_acntnumber] [char](11) NOT NULL,
	[emp_id] [char](5) NOT NULL,
	[cust_id] [char](11) NOT NULL,
	[loan_type] [varchar](15) NOT NULL,
	[loan_tenure] [char](3) NOT NULL,
	[loan_amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[loan_acntnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OFFICE]    Script Date: 06-07-2025 13:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFFICE](
	[br_code] [char](8) NOT NULL,
	[br_name] [varchar](15) NOT NULL,
	[br_contactnumber] [char](7) NOT NULL,
	[br_emailid] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[br_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMERVISIT]  WITH CHECK ADD FOREIGN KEY([br_code])
REFERENCES [dbo].[OFFICE] ([br_code])
GO
ALTER TABLE [dbo].[CUSTOMERVISIT]  WITH CHECK ADD FOREIGN KEY([cust_id])
REFERENCES [dbo].[CUSTOMER] ([cust_id])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([br_code])
REFERENCES [dbo].[OFFICE] ([br_code])
GO
ALTER TABLE [dbo].[LOAN]  WITH CHECK ADD FOREIGN KEY([cust_id])
REFERENCES [dbo].[CUSTOMER] ([cust_id])
GO
ALTER TABLE [dbo].[LOAN]  WITH CHECK ADD FOREIGN KEY([emp_id])
REFERENCES [dbo].[EMPLOYEE] ([emp_id])
GO
USE [master]
GO
